<section class="flex items-center justify-center flex-col w-full fixed top-0 backdrop-blur-xs z-50 text-center">
  <div class="w-full">
    <div class="flex justify-center items-center py-3  bg-black text-white text-sm gap-3">
      <p>✨Scan. Order. Enjoy✨</p>
      <div class="inline-flex gap-1 items-center">
        <p class="text-white/60 animate-pulse">Get started for free</p>
        <span class="material-icons size-icon text-white/60 animate-pulse">arrow_forward</span>
      </div>
    </div>
  </div>

  <div class="container-full container-mobile p-2">
    <div class="flex flex-row justify-between items-center">
      <p class="cursor-pointer bebas-neue-regular p-1" routerLink="/">ScanEats</p>
      <div class="flex justify-between items-center gap-4">
        @if (ui.showCart()) {
        <button routerLink="cart"
          class="md:hidden bg-black text-sm text-white px-4 py-2 rounded-lg font-medium inline-flex justify-center items-center tracking-tight">
          Cart
          <div class="relative inline-flex items-center ml-2">
            <i class="material-icons text-sm">shopping_cart</i>
            @if (cartCount$ | async) {
            <span
              class="absolute -top-2 -right-2 bg-yellow-500 text-black text-[10px] font-bold rounded-full h-4 w-4 flex items-center justify-center border border-black animate-bounce-subtle">
              {{ cartCount$ | async }}
            </span>
            }
          </div>
        </button>
        }
        <div class="md:hidden">
          <i class="fas fa-bars cursor-pointer menu"></i>
        </div>
      </div>

      <nav class="hidden md:flex gap-6 text-black/60 items-center text-sm">
        <a class="align-text-bottom h-[24px]">About</a>
        <a class="align-text-bottom h-[24px]">Features</a>
        <a routerLink="menu" class="align-text-bottom h-[24px]">Menu</a>
        <a class="align-text-bottom h-[24px]">Updates</a>
        <a class="align-text-bottom h-[24px]">Help</a>
        @if (ui.showCart()) {
        <button routerLink="cart"
          class="bg-black h-9 text-sm text-white px-4 py-2 rounded-lg font-medium inline-flex justify-center items-center tracking-tight">
          Cart
          <div class="relative inline-flex items-center ml-2">
            <i class="material-icons text-sm">shopping_cart</i>
            @if (cartCount$ | async) {
            <span
              class="absolute -top-2 -right-2 bg-yellow-500 text-black text-[10px] font-bold rounded-full h-4 w-4 flex items-center justify-center border border-black animate-bounce-subtle">
              {{ cartCount$ | async }}
            </span>
            }
          </div>
        </button>
        }
        <button
          class="min-w-[100px] bg-black text-sm text-white px-4 py-2 rounded-lg font-medium inline-flex justify-center items-center tracking-tight">
          Get
          for free
        </button>
      </nav>
    </div>
  </div>
</section>