<section class="flex flex-col items-center justify-center min-h-[350px] mt-[90px] px-4">

  <div id="main-footer"
    class="bg-black w-full text-white/90 text-xs flex flex-col items-center justify-center gap-6 p-6">
    <div class="flex flex-wrap md:flex-row justify-between w-full md:p-8 gap-6 text-center md:text-left">
      <div class="w-full md:w-auto font-bold bebas-neue-footer text-center md:text-left">ScanEats</div>

      <div class="flex flex-col gap-2 quicksand-regular w-full md:w-auto">
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Overview</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Examples</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Features</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Resources</p>
      </div>

      <div class="flex flex-col gap-2 quicksand-regular w-full md:w-auto">
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">How to Get
          Started</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">FAQ</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">About</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Newsletter</p>
        <p class="cursor-pointer hover:bord h-[15px]er-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Contact
        </p>
      </div>

      <div class="flex flex-col gap-2 quicksand-regular w-full md:w-auto">
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Terms &
          Conditions</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Privacy Policy
        </p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Accessibility
          Disclaimer</p>
        <p class="cursor-pointer hover:border-b-white/90 hover:border-b w-fit mx-auto md:mx-0 h-[15px]">Disclaimer</p>
      </div>
    </div>

    <p class="border-b border-gray-500/90 container-full"></p>
    <div class="text-center">
      <p class="text-xs quicksand-regular">Copyright © ScanEats 2025. All Rights Reserved</p>
    </div>
  </div>
</section>